.link {
    width: 100%;
    display: flex;
    display: -ms-flexbox;
    align-items: center;
    gap: 10px;
    color: #fff;
    padding: 1.5rem 2rem;
    background: transparent;
    transition: 0.1s ease-in-out;
    -webkit-transition: 0.1s ease-in-out;
}

.link h4 {
    color: #fff;
    font-size: 16px;
    position: relative;
}

.link h4 span {
    position: absolute;
    right: -2rem;
    top: 0rem;
    background: var(--NOTIFICATION_COLOR);
    color: #fff;
    font-size: 10px;
    width: 16px;
    height: 16px;
    display: flex;
    display: -ms-flexbox;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding-top: 0.1rem;
}

.list:hover .link,
.list.active .link,
.list.active:hover .link {
    background: var(--LIGHT_GREEN);
    border-left: 4px solid white;
}
