.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 12px;
  max-width: 84px;
  max-height: 22px;
  border-radius: 45px;
  font-size: 12px;
}

.encrypted {
  background: #E9FFED;
  color:  #3CAF50;
}

.empty {
  color: #FF4E4E;
;
    background: #FFECEC;
}

.disabled {
  color: var(--CAMSOL_ERROR);
  background: #ede0dc;
}