@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
   font-family: "Poppins", sans-serif;
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
   font-weight: normal;
}

html {
  font-size: 62.5%;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

:root {
  --PRIMARY_COLOR: rgb(59 130 246);
  --SECONDARY_COLOR: rgb(16 24 40);
  --SLATE_300: rgb(203 213 225);
  --ERROR_COLOR: rgb(217 45 32);
  --TERTIARY_COLOR: #344054;
  --NOTIFICATION_COLOR: #ff7548;
}
