@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}


*{
    margin: 0;
    padding: 0;
}

html,body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Poppins",sans-serif;
}